<%- include('../_header.html.ejs') %>

<p>Hi <%= first_name %>!</p>

<p><%= case_manager_name %> has added you as a staff member for their classroom in Compass.<br/>
Compass is an all in one tool for collecting data for students’ IEP goals and empowering your classroom team to better assist students.</p>

<p>How does Compass work?<br/>
Compass will help you organize data collection for the students you work with and securely store the data you collect.<br/>
<%= case_manager_name %> will add you to data collection tasks for specific student goals. Upon logging in, you’ll see which students you’re expected to collect data for.
Instructions from <%= case_manager_name %> will be available with each assignment. When you’re ready to begin, you’ll be able to collect and submit data and notes directly in the app.</p>

<p>Getting started<br/>
To get set up with Compass, use the link below and log in with the email address you received this message at.<br/>
Thank you for the key role you play in improving student outcomes!</p>

<%- include('../_button.html.ejs', { label: 'Accept Invite', url: env.BASE_URL }) %>

<p>Sincerely,<br />
The Compass Team</p>

<%- include('../_footer.html.ejs') %>
